.App {
  text-align: center;
}

#mainPage{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#addPage{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.addInput{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;

}

input{
  height: 14px;
  margin-bottom: 5px;
}

#submitButton{
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: lightseagreen;
  font-size: 18px;
  border-radius: 5px;
}

#displayPage{
  display: flex;
  flex-direction: column;
}

#displayTable{
  display: flex;
}

tbody{
  display:flex;
  justify-content: space-evenly;
}

.tableCell{
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 150px;
}